body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbaraccount {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid white;
}

.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
  z-index: 1;
}

.drawer {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(68, 127, 238), rgb(53, 114, 150));
  color: white !important;
}